<!DOCTYPE html>
<html lang="mk" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>МЕНДО - Листа на училишта</title>
  <link rel="stylesheet" href="/style/grid.css">
</head>

<style>

  .no-schools {
    text-align: center;
    padding: 2rem;
    color: #2c1810;
    font-size: 1.1rem;
  }


</style>


<div th:replace="fragments/_toolbar :: toolbar('Листа на училишта', '/')"></div>

<body>

<div class="main-content">
    <div class="quick-start">
      <table class="content-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Име на училиште</th>
          <th>Адреса</th>
          <th >Акции</th>
        </tr>
        </thead>
        <tbody>
        <!-- Check if schools list is empty -->
        <tr th:if="${schools.isEmpty}">
          <td colspan="4" class="no-schools">Нема регистрирани училишта</td>
        </tr>
        <!-- Iterate over schools if list is not empty -->
        <tr th:each="school : ${schools}">
          <td th:text="${school.id}">1</td>
          <td th:text="${school.name}">School Name</td>
          <td th:text="${school.address}">Address</td>
          <td>
            <div class="actions">
              <a th:href="@{'/schools/edit/' + ${school.id}}" class="btn-edit btn-edit link-no-decor">
                <i class="fas fa-pencil"></i>
              </a>
              <a th:href="@{'/schools/delete/' + ${school.id}}" class="btn-edit btn-delete link-no-decor">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>